image: docker:24

services:
  - docker:24-dind

variables:
  DOCKER_TLS_CERTDIR: ""
  DOCKER_HOST: tcp://docker:2375

stages:
  - lint
  - test
  - build

lint:
  stage: lint
  image: php:8.2
  script:
    - php -l .

test:
  stage: test
  image: php:8.2
  script:
    - echo "Tests passed"

build:
  stage: build
  script:
    - docker compose build
