apiVersion: apps/v1
kind: Deployment
metadata:
  name: laravel-deployment
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: laravel
  template:
    metadata:
      labels:
        app: laravel
    spec:
      containers:
      - name: php
        image: gestion-etudiants-app:v3
        imagePullPolicy: Never
        command: ["php-fpm", "-F"]
        ports:
        - containerPort: 9000

        livenessProbe:
          tcpSocket:
            port: 9000
          initialDelaySeconds: 30
          periodSeconds: 10

        volumeMounts:
        - name: env-file
          mountPath: /var/www/.env
          subPath: .env

      - name: nginx
        image: nginx:alpine
        ports:
        - containerPort: 80

        volumeMounts:
        - name: nginx-config
          mountPath: /etc/nginx/conf.d

        livenessProbe:
          tcpSocket:
            port: 80
          initialDelaySeconds: 10
          periodSeconds: 10

      volumes:
      - name: nginx-config
        configMap:
          name: nginx-config

      - name: env-file
        configMap:
          name: laravel-env
          items:
          - key: .env
            path: .env
